/*
 */

.mainFxmlClass {

    
}

.root {
    
    -fx-border-color: red;
    -fx-border-radius: 1;
}

.vbox {
    
    
}

#category_label {
    
    -fx-border-color: green;
    -fx-border-radius: 1;
    
    -fx-font-family: "arial";
    -fx-font-size: 16px;
    -fx-font-style: normal;
    -fx-font-weight: bolder;
    
    -fx-text-alignment: center;
}
