/*
*/
/* 
    Author     : MP
*/

#CategoryLabel {
    
    -fx-padding: 0 10 5 10;
}

#CategoryLabel .label {
    
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-font-family: 'arial';
    -fx-font-weight: bold;
    -fx-padding: 15;
}



#SubCategoryLabel {
    
    -fx-padding: 0 10 5 10;
}

#SubCategoryLabel .label {
    
    -fx-padding: 15;
}

