/*
*/
/* 
    Author     : MP
*/

#CategoryLabel {
    
    -fx-padding: 0 10 5 10;
}

#CategoryLabelHBox {
    
    -fx-background-color: '#999966';
    -fx-background-radius: 5.5 50 5.5 5.5;
}

#CategoryLabel .label {
    
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-font-family: 'arial';
    -fx-font-weight: bold;
    -fx-padding: 15;
}



#SubCategoryLabel {
    
    
    -fx-padding: 0 10 5 10;
}

#SubCategoryLabel .label {
    
    -fx-background-radius: 5.5;
    -fx-background-color: 'lightgray';
    -fx-padding: 15;
}

