/*
*/
/* 
    Author     : MP
*/

* {
   
    /*CSS Variables*/
    -fx-main-font-family: 'arial';
}

#AmountDollarSignLabel {
    
    -fx-alignment: center-right;
}

#AmountLabel .label {
    
    -fx-font-size: 14;
    -fx-text-fill: black;
    -fx-font-family: -fx-main-font-family;
    -fx-padding: 15 15 15 50;
}



#AmountLabel #AmountLabelTextField {
    
    -fx-padding: 10;
    -fx-border-insets: 10;
    -fx-background-insets: 10;
    -fx-alignment: center-right;
}

#AmountLabel .vbox {
    
    -fx-background-color: #bfbfbf;
}


/*Subclass of CategoryLabel*/
#AssetsCategoryLabel {
    
    -fx-padding: 1 5 1 10;
}

#AssetsCategoryLabel .label {
    
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: -fx-main-font-family;
}

#AssetsCategoryLabel #CategoryLabelHbox {
    
    -fx-background-color: #00ccff;
    -fx-background-radius: 50 5.5 5.5 5.5;
}


#AssetsContainer {
    
    -fx-background-color: transparent;
}


#CurrencyPopupLabel {
    
    -fx-background-color: transparent;
    -fx-font-size: 14;
    -fx-text-fill: black;
    -fx-font-family: -fx-main-font-family;
}


/*Subclass of CategoryLabel*/
#LiabilitiesCategoryLabel {
    
    -fx-padding: 1 10 1 10;
}


#LiabilitiesCategoryLabel .label {
    
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: -fx-main-font-family;  
}


#LiabilitiesCategoryLabel #CategoryLabelHbox {
    
    -fx-background-color: #ff3333;
    -fx-background-radius: 5.5 50 5.5 5.5;
}


#LiabilitiesContainer {
    
    -fx-background-color: transparent;
}


#SubTotalAmountLabel {
    
    -fx-padding: 0 10 5 10;
}

#SubTotalAmountLabel .label {
    
    -fx-alignment: center-right;
    -fx-padding: 15;
    -fx-font-size: 15;
    -fx-text-fill: black;
    -fx-font-family: 'arial';
}

#SubTotalAmountLabel #SubTotalLabel {
    
    -fx-font-weight: bold;
}

#TitleAndAmountLabel {
    
    -fx-padding: 0 10 5 10;
    -fx-font-size: 15;
    -fx-text-fill: black;
    -fx-font-family: -fx-main-font-family;
}